{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "s3:*",
            "Resource": [
                "arn:aws:s3:::{{ s3_bucket_name }}",
                "arn:aws:s3:::{{ s3_bucket_name }}/*"
            ]
        }
    ]
}